/*main page*/


/*common*/

.noListStyle {
    list-style: none;
    padding-left: 0;
}


p {
    font-size: 12px;
    color: black;
}

.disabledSelect {
    background: #0060c1;
    color: #FFF;
}

select {
    border-radius: 0px;
    font-size: 14px;
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*top*/

.top {
    margin: 20px 0;
    margin-bottom: 40px;
}

.top .top-container {
    display: flex;
    justify-content: center;
}


.top .top-container .media img {
    width: 400px;
    height: 300px;
}

.top .top-container .media {
    display: block;
    position: relative;
}


/*action*/

.top .top-container .media .action {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top .top-container .media .action a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.top .top-container .media .action a:hover {
    color: red;
    text-decoration: none;
}

.top .top-container .media .action a span .icon {
    margin-right: 5px;
    font: 12px;
    font-weight: 500;
}

/*details-container*/

.top .details-container {
    line-height: 15px;
}

.top .details-container ul.basic-details  {
     line-height: 5px; 
}

.top .details-container ul.basic-details li .instock {
    background-color: #00ff32;
    padding: .2rem .3rem;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.top .details-container .sale-icon {
    background-color: #f22828;
    border-radius: 20px;
    color: white;
    width: 40px;
    text-align: center;
}

@media(max-width:575px) {
    .top .details-container {
        margin-top: 50px;
        text-align: inherit;
    }

    .top .details-container ul.basic-details {
        line-height: 1;
    }
}

/*price*/
.top .details-container .price {
    display: flex;
    bottom: 2px;
}

.top .details-container .price .sale {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400; 
    text-decoration: line-through;
    position: relative;
    bottom: -3px;
}

.top .details-container .price h5 {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
}

/*main details*/

.top .details-container .main-details {
    padding-left: 15px;
    line-height: 2;
}

.top .details-container .main-details li {
    color: black;
    font-size: 15px;
}
.top .details-container .main-details li span .listIcon {
    color: red;
    font-size: 15px;
    margin-top: -4px;
}




/*selection*/

.selection {
    width: 100%;
    padding: 20px 0;
    background-color: #EEE;
}

.selection h4 {
    font-size: 25px;
}

.selection h5 {
    font-size: 15px;
}

.selection .addCartArea {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.selection .addCartArea input {
    width: 20%;
    float: left;
}

.selection .addCartArea .input-quantity-label {
    width: 15%;
    float: left;
    margin-top: 7px;
}

.selection .addCartArea button.btn-cart {
    width: 63%;
    height: 34px;
    float: left;
    margin-left: 1%;
    border: 0px;
    background: #0060c1;
    font-size: 14px;
    color: #FFF;
}

@media(max-width:992px) {
    .selection {
        margin-top: 20px;
    }
}

/*middle section*/

.middle {
    margin: 20px 0;
}

.middle .tabArea {
    margin-top: 20px;
}

 .middle .tabArea ol.orderList li {
    color: black;
} 

/*bottum*/

.bottum {
    margin: 40px 0px;
}