/* body {
  line-height: 8px;
  width: 100%;
} */

html, body {
  width: 100%;
  overflow-x: hidden;
}

.breakingAdd {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f2f2f2;
  text-align: center;
  margin-bottom: -55px;
  margin-top: 20px;
}

.breakingAdd h3 {
  margin: 0px;
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: 600;
  color: #0060c1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  filter: blur(8px);
}

.loading i {
  font-size: 20px;
}