
.featureArea .fearture-header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 10px;
}

.featureArea .fearture-header > h3 {
    font-weight: 400;
}

.featureArea .fearture-header > button {
    border: none;
    background-color: rgb(20, 129, 172);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.featureArea .feature-content {

}

